
body {
  background-color: snow;
}


.fila-par {
  background-color: #dedede;
}

.fila-impar {
  background-color: #d1d1d1;
}

.stock-alert {
  color: rgb(199, 41, 41);
  background-color: snow;
}








